~
.settings
.project
.classpath
*/bin/
.metadata/
mryx_log
target
*.rej
*.iml
/skylark/skylark-web/LOG_FILE_IS_UNDEFINED
/skylark/.idea
/skylark/LOG_FILE_IS_UNDEFINED
/skylark/**/*.iml
/skylark/skylark-web/LOG_PATH_IS_UNDEFINED/*.log
/.idea
*.iml
LOG_FILE_IS_UNDEFINED
.DS_Store
logs
logging.file_IS_UNDEFINED
